.form-input-container {
    margin: 20px auto;
    background-color: rgb(251, 231, 207);
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-top: 4rem;
    /* margin-left: 20%;
    margin-right: 20%; */
    height: 30rem;
    width: 23rem;
}



.form-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;

}


.form-input {
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2A414F;
    margin-bottom: 10px;

}

.loader {

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 2rem;
}